#map { 
    height: 90vh;
    width: 100vw;
}

.info {
    background-color: black;
    color: white;
    border-radius: 5px; 
    padding: 5px;
}

.title {
    text-align: center;
    color: white;
}

body {
    background-color: black;
    padding: 0;
    border: 0 auto;
}

h1{
    height: 5vh;
}
